* {
    margin: 0px;
    padding: 0px;
}

.root-container {
    display: flex;
    flex-direction: column;
}

/* Images */
img {
    height: auto;
    width: 200px;
}

.gradImage {
    display: flex;
    flex-shrink: 0;
    height: auto;
    width: 400px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
}

/* Section Header */
.section-header {
    margin-left: 30px;
}

/* About Me */
.about-me {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}

.about-me-blurb {
    display: flex;
    align-items: center;
    max-width: 750px;
    
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 500px;
    gap: 16px;
}

/* EduExp */
.eduExp {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 64px;
    margin-right: 64px;
    justify-content: center;
}

.event {
    display: flex;
    align-items: center;
    flex-basis: 1250px;
}

.event-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 750px;
}