* {
    margin: 0px;
    padding: 0px;
}

.root-container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", monospace;
}

/* Images */
img {
    height: auto;
    width: 200px;
}

.gradImage {
    display: flex;
    flex-shrink: 0;
    height: auto;
    width: 400px;
    border-style: solid;
    border-color: #FAF2E6;
    border-radius: 32px;
    border-width: 6px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
    background-color: #a73535;
    color: #FAF2E6;
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: 550;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
}

/* About Me */
.about-me {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    background-color: #a73535;
    color: #FAF2E6;
    padding-top: 48px;
    padding-bottom: 48px;
}

.about-me-blurb {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 750px;
    flex-direction: column;
}

.about-me-title {
    font-size: 54px;
    padding-bottom: 32px;
}

.about-me-text {
    font-weight: 500;
}

/* Skills */
.skills-header {
    display: flex;
    background-color: #a73535;
}

.skills-header-text {
    background-color: #FAF2E6;
    color: #222222;
    font-size: 36px;
    padding: 16px 16px 8px 16px;
    margin-left: 128px;
    border-radius: 12px 12px 0 0;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 128px;
    background-color: #FAF2E6;
    padding-top: 64px;
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 64px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 325px;
    width: 325px;
    border-style: solid;
    border-width: 4px;
    border-color: #222222;
    border-radius: 16px;
    background-color: #f7e0be;
}

.skill-img {
    padding-top: 32px;
    padding-bottom: 16px;
}

.skill-text {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    color: #222222;
    font-weight: 600;
    font-size: 24px;
}

/* EduExp */
.eduExp {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-left: 64px;
    margin-right: 64px;
    justify-content: center;
}

.event {
    display: flex;
    align-items: center;
    flex-basis: 1250px;
}

.event-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

/* Projects */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}

.UMS {
    display: flex;
    flex-basis: 600px;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 1400px;
}

.project-text {
    display: flex;
    flex-direction: column;
}

/* Contact */
.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 750px;
    align-self: center;
}

.contact-text {
    align-content: center;
}

.contact-links {
    list-style: none;
}