* {
    margin: 0px;
    padding: 0px;
}

.root-container {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", monospace;
}

/* Images */
img {
    height: auto;
    width: 200px;
}

.gradImage {
    display: flex;
    flex-shrink: 0;
    height: auto;
    width: 400px;
    border-style: solid;
    border-color: #FAF2E6;
    border-radius: 32px;
    border-width: 6px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 24px;
    background-color: #a73535;
    color: #FAF2E6;
    position: sticky;
    top: 0;
}

.links {
    list-style: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: 550;
}

a {
    color: #FAF2E6;
    text-decoration: none;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
}

/* About Me */
.about-me {
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
    background-color: #a73535;
    color: #FAF2E6;
    padding-top: 48px;
    padding-bottom: 48px;
}

.about-me-blurb {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    max-width: 750px;
    flex-direction: column;
}

.about-me-title {
    font-size: 54px;
    font-weight: 800;
    padding-bottom: 32px;
}

.about-me-text {
    font-weight: 500;
    font-size: 18px;
}

/* Skills */
.skills-header {
    display: flex;
    background-color: #a73535;
}

.skills-header-text {
    background-color: #FAF2E6;
    color: #222222;
    font-size: 36px;
    padding: 16px 16px 8px 16px;
    margin-left: 128px;
    border-radius: 12px 12px 0 0;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 128px;
    background-color: #FAF2E6;
    padding-top: 64px;
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 64px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 325px;
    width: 325px;
    border-style: solid;
    border-width: 3px;
    border-color: #222222;
    border-radius: 32px;
    background-color: #f7e0be;
}

.skill-img {
    padding-top: 32px;
    padding-bottom: 16px;
}

.skill-text {
    display: flex;
    align-items: center;
    padding-bottom: 32px;
    color: #222222;
    font-weight: 600;
    font-size: 22px;
}

/* EduExp */
.eduExp-header {
    display: flex;
    background-color: #FAF2E6;
}

.eduExp-header-text {
    background-color: #f7e0be;
    color: #222222;
    font-size: 36px;
    padding: 16px 16px 8px 16px;
    margin-left: 128px;
    border-radius: 12px 12px 0 0;
}

.eduExp {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    padding-left: 64px;
    padding-right: 64px;
    justify-content: center;
    background-color: #f7e0be;
    padding-top: 64px;
    padding-bottom: 64px;
}

.event {
    display: flex;
    align-items: center;
    flex-basis: 1250px;
    gap: 32px;
    background-color: #FAF2E6;
    padding: 24px;
    border-radius: 32px;
    border-style: solid;
    border-color: #222222;
    border-width: 3px;
}

.event-text {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    gap: 8px;
}

.event-text-header {
    font-size: 22px;
    font-weight: 600;
    color: #222222;
}

.event-text-blurb {
    font-weight: 500;
    font-size: 16px;
    color: #222222;
}

/* Projects */
.projects-header {
    display: flex;
    background-color: #f7e0be;
}

.projects-header-text {
    background-color: #FAF2E6;
    color: #222222;
    font-size: 36px;
    padding: 16px 16px 8px 16px;
    margin-left: 128px;
    border-radius: 12px 12px 0 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
    background-color: #FAF2E6;
    padding-top: 64px;
    padding-bottom: 64px;
}

.UMS {
    display: flex;
    flex-basis: 800px;
    border-style: solid;
    border-width: 2px;
    border-color: #222222;
}

.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex-basis: 1400px;
    border-style: solid;
    border-color: #222222;
    border-width: 3px;
    border-radius: 32px;
    padding: 24px;
    gap: 24px;
    background-color: #f7e0be;
}

.project-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.project-text-header {
    font-size: 22px;
    font-weight: 600;
    color: #222222;
}

.project-text-blurb {
    font-weight: 500;
    font-size: 16px;
    color: #222222;
}

/* Contact */
.contact-header {
    display: flex;
    background-color: #FAF2E6;
}

.contact-header-text {
    background-color: #a73535;
    color: #222222;
    font-size: 36px;
    padding: 16px 16px 8px 16px;
    margin-left: 128px;
    border-radius: 12px 12px 0 0;
    color: #FAF2E6;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #a73535;
    padding: 128px;
    color: #FAF2E6;
    gap: 48px;
}

.contact-text {
    display: flex;
    justify-content: center;
    font-size: 54px;
    font-weight: 800;
}

.contact-links {
    list-style: none;
    font-weight: 500;
    font-size: 18px;
    gap: 8px;

    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: center;
}